{%- assign collection = collections[section.settings.featured_collection] -%}

{% style %}
  .featured-products-slider {
    background: {{ section.settings.background_color }};
  }

  .featured-products-slider h2 {
    color: {{ section.settings.title_color }}
  }
{% endstyle %}

<!-- main -->
<div>
  <h2>Featured</h2>

  <div>
    <button type="button" 
      onclick="showPrevNextSlide(event.target, {%- unless collection == empty -%}{{collection.products_count}}{%- else -%}4{%- endunless -%}, 'prev')" 
      disabled>

      Prev
    </button>
    <button type="button" 
      onclick="showPrevNextSlide(event.target, {%- unless collection == empty -%}{{collection.products_count}}{%- else -%}4{%- endunless -%}, 'next')">

      Next
    </button>
  </div>

  <!-- track -->
  <div>
    <!-- second margin track -->
    <div>
      <!-- slider -->
      <div class="slider">
        {%- for product in collection.products -%}
          <div>
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: '258x' }}" alt="{{ product.title | downcase}}">
            </a>
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <button type="button">
              <span>Add to bag</span>
              <span></span>
              <span>{{ product.price | money_without_trailing_zeros }}</span>
            </button>
          </div>
        {%- else -%}
          {%- for index in (1..4) -%}
            <div>
              <a>
                {{ 'product-' | append: index | placeholder_svg_tag }}
              </a>
              <h3>Lorem, ipsum</h3>
              <p>Lorem, ipsum dolor</p>
              <button type="button">
                <span>Add to bag</span>
                <span></span>
                <span>{{ 1000 | money_without_trailing_zeros }}</span>
              </button>
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{%- unless collection == empty -%}
  <img src="{{ collection.image | img_url: "900x" }}" alt="{{ collection.title | downcase }}">
{%- else -%}
  {{ 'collection-1' | placeholder_svg_tag }}  
{%- endunless -%}

{% schema %}
  {
    "name": "Featured products slider",
    "class": "featured-products-slider",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured products"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ff323d"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#FFDF00"
      }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Featured products slider"
      }
    ]
  }
{% endschema %}
