{%- assign collection = collections[section.settings.featured_collection] -%}

{% style %}
  .featured-products-slider {
    background: {{ section.settings.background_color }};
  }

  .featured-products-slider h2 {
    color: {{ section.settings.title_color }}
  }
{% endstyle %}

{%- if collection.products_count > 0 -%}
  <div>
    <h2 class="margin-bottom">Featured</h2>

    <div>
      <button type="button" 
        onclick="showPrevNextSlide(event.target, {{ collection.products_count }}, 'prev')" 
        disabled>

        Prev
      </button>
      <button type="button" 
        onclick="showPrevNextSlide(event.target, {{ collection.products_count }}, 'next')">

        Next
      </button>
    </div>

    <!-- track -->
    <div>
      <!-- second margin track -->
      <div>
        <!-- slider -->
        <div class="slider">
          {%- for product in collection.products -%}
            <div>
              <a href="{{ product.url }}">
                <!-- <div style="background-image: url('{{ product.featured_image | img_url: '300x' }}');"></div> -->
                <img src="{{ product.featured_image | img_url: '258x' }}" alt="{{ product.title | downcase}}">
              </a>
              <h3>{{ product.title }}</h3>
              <p>{{ product.description }}</p>
              <button type="button">
                <span>Add to bag</span>
                <span></span>
                <span>{{ product.price | money_without_trailing_zeros }}</span>
              </button>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  <p>There are currently no products in this collection.</p>
{%- endif -%}

<div style="background-image: url('{{ collection.image | img_url: "900x" }}');"></div>

{% schema %}
  {
    "name": "Featured products slider",
    "class": "featured-products-slider",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured products"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ff323d"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#FFDF00"
      }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Featured products slider"
      }
    ]
  }
{% endschema %}
