

{%- for block in section.blocks -%}
  {%- assign product = all_products[block.settings.product] -%}
  
  {%- unless product == empty -%}
    <div>
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url: '258x' }}" alt="{{ product.title | downcase}}">
      </a>
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <button type="button">
        <span>Add to bag</span>
        <span></span>
        <span>{{ product.price | money_without_trailing_zeros }}</span>
      </button>
    </div>
  {%- else -%}
    {%- render 'product-row-placeholder', product_number: 1 -%}
  {%- endunless -%}
{%- endfor -%}

{%- if section.blocks.size == 0 -%}
  {%- for index in (1..4) -%}
    {%- render 'product-row-placeholder', product_number: index -%}
  {%- endfor -%}
{%- endif -%}


{% schema %}
  {
    "name": "Products row",
    "class": "products-row",
    "settings": [],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Products row"
      }
    ]
  }
{% endschema %}
