<h2 style="color: {{ section.settings.header_color }}">Testimonials</h2>

<div>
  <div>
    <div>
      {% render 'icon-double-quotation' %}

      <div class="slider">
        {% for block in section.blocks %}
          <div>
            <!-- <p>{{ block.settings.testimonial }}</p> -->
            {{ block.settings.testimonial }}
            <p>{{ block.settings.testimonial_author }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div>
    <button type="button" 
      onclick="showPrevNextSlide(event.target, {{ section.blocks.size }}, 'prev')" 
      disabled>

      Prev
    </button>
    <button type="button" 
  onclick="showPrevNextSlide(event.target, {{ section.blocks.size }}, 'next')">

      Next
    </button>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials slider",
    "class": "testimonials-slider",
    "settings": [
      {
        "type": "color",
        "id": "header_color",
        "label": "Header color",
        "default": "#ff323d"
      }
    ],
    "max_blocks": 10,
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "testimonial_author",
            "label": "Author",
            "default": "Jane Doe"
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonial",
            "default": "<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et at illum, a perspiciatis ex fugit cumque soluta, cupiditate id nostrum neque fugiat iure quod.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Testimonials",
        "name": "Testimonials slider"
      }
    ]
  }
{% endschema %}
